/target
**/*.rs.bk
tree-sitter-syncat-stylesheet/node_modules

syncat/node_modules/*
!syncat/node_modules/tree-sitter-*
syncat/node_modules/tree-sitter-*/*
!syncat/node_modules/tree-sitter-*/src

!syncat/node_modules/@dicy
syncat/node_modules/@dicy/*
!syncat/node_modules/@dicy/tree-sitter-*
syncat/node_modules/@dicy/tree-sitter-*/*
!syncat/node_modules/@dicy/tree-sitter-*/src
