target

**/*.rs.bk
tree-sitter-syncat-stylesheet/node_modules

syncat-stylesheet/node_modules/*
!syncat-stylesheet/node_modules/tree-sitter-*
syncat-stylesheet/node_modules/tree-sitter-*/*
!syncat-stylesheet/node_modules/tree-sitter-*/src
